<h1> WishBone's Login | Registration </h1>
<!-- Login Form -->
<form (ngSubmit)='login()'>
  <p> {{ user | json }} </p>
  <label for='email'> Email Address </label>
  <input type='text' [(ngModel)]='user.email' name='email'>
  <label for='password'> Password </label> 
  <input type='password' [(ngModel)]='user.password' name='password'>
  <button> Login </button>
</form>
<!-- End of Login Form -->

<!-- Registration Form -->
<form (ngSubmit)='registration()'>
  <p> {{ newUser | json }} </p>
  <label for='alias'> Username </label>
  <input type='text' [(ngModel)]='newUser.alias' name='alias'>
  <label for='firstName'> First Name </label>
  <input type='text' [(ngModel)]='newUser.fname' name='fname'>
  <label for='lastName'> Last Name </label>
  <input type='text' [(ngModel)]='newUser.lname' name='lname'>
  <label for='email'> Email Address </label>
  <input type='text' [(ngModel)]='newUser.email' name='email'>
  <label for='password'> Password </label>
  <input type='password' [(ngModel)]='newUser.password' name='password'>
  <label for='passwordconfirm'> Confirm Password </label>
  <input type='password' [(ngModel)]='newUser.passwordconfirm' name='passwordconfirm'>
  <button type='submit'> Register </button>
</form>
<!-- End of Registration Form -->