#headline {
    text-align: center;
    margin-left: 110px;
    font-size: 50px;
    color: gray;
}

button {
    display: block;
    width: 150px;
}

.col-3 {
    border: 2px solid green;
}

/* Preserves space when error messages are hidden */
.error-field {
    display: inline-block !important;
    visibility: hidden;
    border: 1px solid green;
}

.showError {
    color: red;
    border: 1px solid blue;
}

