#headline {
    text-align: center;
    margin-left: 110px;
    font-size: 50px;
    color: gray;
}

.form-group label {
    width: 150px;
    margin-right: 5px;
}

.error {
    color: red;
}

button {
    display: block;
    width: 150px;
}

.col-3 {
    border: 2px solid green;
}

